body{
  font-family: 'Roboto', sans-serif;
  color:#363637;
  
}

header{
  display:flex;
  width: 100%;
  padding-top: 30px;
  align-items: center;
  justify-content: space-between;
  
}

#logo{
  margin-left: 100px;
  
}
header > ul{
  display: flex;
  margin-right: 70px;
  
  
}

header > ul > li {
  margin-left: 50px;
  list-style: none;
  font-weight: bold;
  font-size: 22px;
}





/*-----------
-- SECTION ---
------------*/

section{
  display: flex;
  width: 100%;
  margin-left: 100px;
  margin-top: 50px;
}

#div1{
  width: 620px;
}
#div1 > h1{
  font-size: 80px;
  margin-bottom: 0;
}
.starbucks{
  font-family: 'Kanit', sans-serif;
  font-size: 90px;
  letter-spacing: 4px;
  color:#037144;
}

#div1 > p{
  font-weight: bold;
  font-size: 18px;
}

#button{
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
  background-color:#037144;
  border-style: none;
  border-radius: 10px;
  padding: 10px;
  transition: 0.5s;
}

#button:hover{
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(107, 107, 107);
  transform: translateX(5px);
}


#images{
  margin-left: 300px;
  margin-right: 10px;
  position: absolute;
  right: 150px;
}

#images > img{
  height: 500px;
  
}


#social{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  margin-top: 120px;
  margin-right: 30px;
}

#social > img{
  height: 30px;
  margin-bottom: 30px;
}





#thumb{
  display: flex;
  margin: auto;
  margin-top: 100px;
  width: 300px;
  justify-content: space-between;
}

#thumb > img{
  height: 100px;
  transition: 0.5s;
}


#thumb > img:hover{
  cursor: pointer;
  transform: translateY(-15px);
}


#circle{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#037144;
  clip-path: circle(600px at right 800px);
  z-index: -1;

}
